#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.preview-img {
  width: 200px;
  height: 200px;
  margin: auto;
}
.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.image-list .item {
  width: 200px;
  height: 200px;
}
.image-list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
