#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.preview-img {
  width: 200px;
  height: 200px;
}
.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
